<div class="container">
        <div class="row">
        <div class="col">
         
      <div class="row">
        <div class="col bg-muted">
          <hr>
        <h3 class="text-primary font-weight-bold"><i class="fa fa-fw fa-film" aria-hidden="true"></i>ABOUT</h3>
          <p class="text-muted font-weight-bold">‘Move and Groove Fitness Tracker' is your ultimate tool to get fit.</p>
          
          <p>The primary mission is to celebrate the human experience while reconnecting your self to a better health.</P>
        
        <P>We are the largest sports community in the world. Over 100 million athletes in 195 countries use Strava – so whatever your activity and goals, you’ll have a community at your back.</p>
        <p>We believe if you sweat, you’re an athlete.
Strava athletes upload everything from walks around the block to Tour de France stage wins. If you’re out there going for it, you’re one of us.</p>
      </div>  
      </div>
  <hr>
      <div class="row justify-content-center">
        <div class="col-md-3">
        <div class="card border-white text-info" style="height: 30rem;">
          <img src="https://st.depositphotos.com/1062793/1404/i/450/depositphotos_14047285-stock-photo-abstract-cinema-background-illustration.jpg" alt="">
      <div class="card-body bg-light">
        <h5 class="card-title">Our Company</h5>
        <h6 class="card-subtitle mb-2 text-muted">Move and Groove</h6>
    <p class="card-text">inspires, educates, and connects artists and community to culture through quality programming that expands perspectives and empowers action.</p>
    </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card  border-white text-info" style="height: 14rem;">
        <img src="https://st.depositphotos.com/1003989/3452/i/450/depositphotos_34526249-stock-photo-portrait-of-business-woman.jpg" alt="">
        <div class="card-body bg-light">
        <h5 class="card-title">Our Founder</h5>
        <h6 class="card-subtitle mb-2 text-muted">Clara Dunn</h6>
    <p class="card-text">Started the company in 2014 at her home in Boston and grew tremendous success. The company is now globally recognized</p>
    </div>
    </div>
    </div>
    <div class="col-md-3">  
    <div class="card broder-white text-info" style="height: 14rem;">
      <img src="https://st.depositphotos.com/2650957/5104/i/450/depositphotos_51049563-stock-photo-mission-button-on-virtual-screen.jpg" alt="">
        <div class="card-body bg-light">
        <h5 class="card-title">Our Culture</h5>
         <h6 class="card-subtitle mb-2 text-muted">Mission & Vision</h6>
    <p class="card-text">Inspires, educates, and connects artists, athletes, and community to mountain culture through quality programming that expands perspectives and empowers action.</p>
    </div>
      </div>
    </div>
     </div>
      <br>
      <hr>
    </div>