<h1> Edit Workout </h1>

<%= render partial: "form", locals: {post_workout: @post_workout} %>

<%= button_to "Delete", @post_workout, method: :delete, data: {turbo_confirm: "Are you sure you want to delete this workout?"} %>
