.jumbotron {
   background: url('getfit2.jpeg') no-repeat center center fixed;
   height: 250px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   background-opacity: 0.2;
   -o-background-size: cover;
}
.carousel > .carousel-inner > .carousel-item > img {
    width: 100%; 
    height: auto;
  objec-fit: cover;
}

a:hover {
 text-transform: uppercase;
 background-color: silver;
  
}
